Makefile
Makefile.*
moc_*
*.moc
*.o
*.so
.qmake.stash
*.pro.user
*.pro.user.*
RPMS
qrc_*
*.list
doc/html
*.prl
*.so
*.so.*
target_wrapper.sh
*.ts
*.qm
*.qmlc

# Documentation output files
doc/sdk-user-manual.qch

# Example output binaries
examples/example-others/harbour-demo-02
examples/example-others/harbour-demo-03
examples/example-others/harbour-demo-04
examples/example-others/harbour-demo-05
examples/example-others/harbour-demo-06
examples/example-others/harbour-demo-07
examples/example-others/harbour-demo-11
examples/example-others/harbour-demo-12
examples/example-others/harbour-demo-13
examples/example01/harbour-demo
examples/example08/harbour-demo
examples/example09/harbour-demo-app/harbour-demo
examples/example10/harbour-demo

